<h1 class="text-center mt-5">Guilds</h1>

<div class="text-center my-3">
  <%= link_to "Create a New Guild", new_guild_path, class: "btn btn-red" %>
</div>

<div style="flex:1;">
  <table style="width:100%; border-collapse:collapse; overflow:hidden; border-radius:10px;">
    <thead>
      <tr style="background:#0d6efd; color:white;">
        <th style="text-align:left; padding:.6rem;">Guild Name</th>
        <th style="text-align:left; padding:.6rem;">Guild Tag</th>
        <th style="text-align:left; padding:.6rem;">Members</th>
      </tr>
    </thead>
    <tbody>
      <% @guilds.each do |guild| %>
        <tr style="border-bottom: 1px solid #dee2e6;">
          <td style="padding:.6rem;"><%= guild.name %></td>
          <td style="padding:.6rem;"><%= guild.tag %></td>
          <td style="padding:.6rem;"><%= "#{guild.profiles.count}/#{guild.max_members}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
