<%# Adiciona a classe 'map-page' ao body para o fundo repetido %>
<% content_for :body_class, "map-page" %>

<div class="map-viewport" 
     data-controller="map-panning"
     data-action="mousedown->map-panning#startDrag 
                  mousemove->map-panning#drag 
                  mouseup->map-panning#stopDrag 
                  mouseleave->map-panning#stopDrag">

  <div class="map-world" data-map-panning-target="world">
    <%= render partial: 'maps/castle', collection: @castles %>
    <%= render partial: 'maps/monster', collection: @monsters %>
  </div>
</div>
