.card-box {
  background-color: #E0D4B8 !important;
  box-shadow: 0 4px 12px #666;
}

.about-us {
  width: 33.3%;
}

.header-card {
  position: relative;
}

.card-border {
  position: absolute;
  top: -14px;
  z-index: 1;
  background-color: #7B3F00;
  color: #fff;
  padding: 5px 90px;
  border-radius: 15px;
}
