.hud-master-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.hud-top-left-area,
.hud-bottom-right-area {
  pointer-events: none;
}

.hud-bottom-right-area {
  display: flex;
  align-self: flex-end;
  position: relative;
}

.hud-bar-image {
  position: fixed;
  bottom: 17px;
  right: -617px;
  width: 1043px;
  height: auto;
}

.hud-buttons-wrapper {
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.hud-button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.hud-button .hud-button-icon {
  height: 100%;
  width: 100%;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.energy-bar-content {
  position: relative;
  display: block;
  width: 200px;
  height: 30px;
  margin: 4px 0 0 80px;

  img {
    width: 100%;
    height: 100%;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(150%, -50%);
    white-space: nowrap;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
  }
}
