.hud-container {
  position: fixed;
  bottom: -5px;
  right: 40px;
  z-index: 100;
}

.hud-bar {
  position: absolute;
  top: 7px;
  right: -686px;
  width: 1233px;
  height: 211%;
  object-fit: cover;   
  z-index: -1;
}

.hud-button {
  display: flex;
  align-items: center; 
  justify-content: center;
  line-height: 0 !important;
  padding: 0;
}

.hud-button-icon {
  width: 100px;
  transition: transform 0.2s ease-in-out;
  display: block;

  &:hover {
    transform: scale(1.1);
  }
}
