.map-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;
  background-color: #E0D4B8;
  border: 1px solid #4A4A4A;
  border-radius: 8px;
  padding: 15px;
  padding-top: 30px;
  min-width: 400px;
  z-index: 1000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.close-popup-btn {
  color: #8B0000;
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
