.navbar {
  padding: 0 !important;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(0, 0, 0);
  color: #fff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #8F8F8F;
}

.navbar-toggler-icon {
  color: #fff;
}

.dropdown-menu {
  display: flex;
  
}

.nav-link-offcanvas {
  color: #000;
  text-decoration: none;
}

.offcanvas {
  background-color: #E0D4B8;
}

.btn-offcanvas {
  text-decoration: none;
  width: 100% !important;
  padding: 1rem !important;
  font-size: 1.1rem;
  text-align: center;
  border: none;
  background-color: #7B3F00 !important;
  color: white !important;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  margin-bottom: 0.75rem;
  display: block;

  &:hover {
    opacity: 75% !important;
  }
}
