<div class="building-menu" data-building-menu-target="menu">
  <div class="d-flex align-items-center gap-3">
    <div data-building-menu-target="upgradeFormContainer">
      <%= button_to "<i class='fa-solid fa-circle-up'></i>".html_safe, "#", method: :patch, class: "upgrade-btn" %>
    </div>
    <a href="#" data-building-menu-target="detailsLink" class="info-btn">
      <i class="fa-solid fa-circle-info"></i>
    </a>
    <a href="#" data-building-menu-target="collectButton" class="btn btn-primary d-none" data-turbo-method="post">
      Coletar Recursos
    </a>
  </div>
</div>
