<div class="building-popup building-menu-popup" style="display: none;" data-building-menu-target="popup">
  <div class="popup-content">
    <button class="close-btn" data-action="click->building-menu#hide">&times;</button>
    <div class="building-info-container">
      <%= image_tag "", data: { "building-menu-target": "image" } %>
      <div data-building-menu-target="upgradeCost"></div>
    </div>
    <hr>
    <a href="#" class="btn btn-secondary" data-building-menu-target="infoButton">Info</a>
    <form action="#" method="patch" data-building-menu-target="upgradeForm">
      <button type="submit" class="btn btn-primary" data-building-menu-target="upgradeButton">Upgrade</button>
    </form>
  </div>
</div>
