<div class="d-none inventory-popup" data-inventory-target="inventoryPopup">
  <span class="close" data-action="click->inventory#hidePopup">&times;</span>
  <h2 class="text-center">Inventory</h2>
  <div class="d-flex justify-content-between">
    <div class="border">
      <p>capacete</p>
      <p>armadura</p>
      <p>espada</p>
      <p>escudo</p>
      <p>...</p>
    </div>
    <div class="border">
      <div><p>Equips</p></div>
      <ul>
        <% current_user.profile.equipment_items.each do |item| %>
        <li> <%= item.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
