<div class="d-none menu-popup" data-inventory-target="menuPopup">
  <span class="close" data-action="click->inventory#hidePopup">&times;</span>
  <h2 class="text-center">Menu</h2>
  <div class="d-flex flex-column pt-5">
    <%= link_to "Leader Board", leaderboard_path, class: "btn btn-link text-decoration-none" %>
    <%= link_to "Settings", settings_path, class: "btn btn-link text-decoration-none" %>
  </div>
</div>
