<div class="d-none shop-popup" data-inventory-target="shopPopup">
  <span class="close" data-action="click->inventory#hidePopup">&times;</span>
  <h2 class="text-center">Shop</h2>
  <p>Shop content.</p>
</div>
